@use "variables" as *;
@use "mixins" as *;

.footer {
  background: $bg-secondary;
  border-top: 1px solid $border;
  padding: $spacing-4xl 0;
  margin-top: $spacing-5xl;

  .container {
    text-align: center;
    color: $text-secondary;
    font-size: $font-size-sm;
  }

  @include mobile {
    padding: $spacing-3xl 0;
  }
}
